@import '../../base/_variables.css';

:root {
  --grid-gap: var(--layout-gutter);
}
.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Grid-cell {
  display: block;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
}
.Grid--withGap {
  margin: calc(var(--grid-gap) / -2);
}
.Grid--withGap > .Grid-cell {
  padding: calc(var(--grid-gap) / 2);
}
