@import './_variables.css';

html,
.text {
  font-family: arial;
  line-height: 1.5em;
}

.text-center {
  text-align: center;
}
.text-small {
  font-size: 0.85em;
}
.text-lead {
  font-size: 1.25em;
  font-family: georgia, serif;
  line-height: 1.5em;
}
